<!DOCTYPE html>
<html>
    <head>
        <title>성적 통계</title>
        
    </head>
    <body>
        <h2>성적 정보</h2>
        <div class="gradeinfo">
            <table border="1">
                <tr><th>최고점</th></tr>
                <tr><th>최저점</th></tr>
            </table>
            과목1
            <table border="1">
                <tr><th></th><th>F</th><th>D0</th><th>D+</th><th>C0</th><th>C+</th>
                    <th>B0</th><th>B+</th><th>A0</th><th>A+</th>
                </tr>
                <tr><td>학생수</td></tr>
                <tr><td>비율</td></tr>
                <tr><td>평균</td></tr>
            </table>
            과목2
            <table border="1">
                <tr><th></th><th>F</th><th>D0</th><th>D+</th><th>C0</th><th>C+</th>
                    <th>B0</th><th>B+</th><th>A0</th><th>A+</th>
                </tr>
                <tr><td>학생수</td></tr>
                <tr><td>비율</td></tr>
                <tr><td>평균</td></tr>
            </table>
            과목2
            <table border="1">
                <tr><th></th><th>F</th><th>D0</th><th>D+</th><th>C0</th><th>C+</th>
                    <th>B0</th><th>B+</th><th>A0</th><th>A+</th>
                </tr>
                <tr><td>학생수</td></tr>
                <tr><td>비율</td></tr>
                <tr><td>평균</td></tr>
            </table>
        </div>
        </body>
    <script src="gradeinfo.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>