<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginPage</title>
</head>
<body>
    <form method="POST" action="/signIn">
        <div>
            <span>학번</span>
            <input type="text" name="stdNum">
        </div>
        <div>
            <span>비밀번호</span>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</body>
</html>